html{
    font-family: 'Montserrat', sans-serif;
}
img{
    border-radius: 20px;
    color: red;
}
h1{
    font-family: 'Bangers', cursive;
    font-size: 72px;
    
}
.project{
    border: 2px solid red;
    border-radius: 5px;
    background-color: black;
    padding: 20px;
}
.contact{
    border: 2px solid red;
    border-radius: 5px;
    background-color: white;
}
.bio{
    border: 2px solid red;
    border-radius: 5px;
    background-color: white;
}
.title{
    color: springgreen;
}
body{
    background-image: url(./Photos/photo-1550645612-83f5d594b671.jpg)

}
body{
    color: bisque;
    
}
h1{
    color: rgb(143, 255, 121);
}
h3{
    color: white;
}